
:root {
    --primary-text-color: #212121;
    --accent-color: #2196F3;
    --primari-bg-color: #F5F5F5;
    --secondary-color: #FFFFFF;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primari-bg-color);
    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}

.header {
    background-color:#FFFFFF;
}

.logo {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;

        text-decoration: none;
}

.logo .logo-web {
    color: var(--accent-color);
}
.logo .logo-studio {
    color: var(--secondary-color);
}

/*nav*/
.nav-site .link {
    color: var(--primary-text-color);
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;

        text-decoration: none;
}
.nav-site .link:hover,
.nav-site .link:focus {
    color: var(--accent-color);
}

.contacts .link {
    color: #757575;
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;

        text-decoration: none;
}
.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}

/* hero */
.hero {
    background-color: #2F303A;
}
.hero .hero-title {
    color: var(--secondary-color);

        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
}
.hero .hero-button {
    color: var(--secondary-color);
    background-color: var(--accent-color);
    
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
}

.feature .paragraf-feature,
.team .team-work {
    color: #757575;
}

.feature .title-feature {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.feature .paragraf-feature {
    
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
}

/* Team */

.team {
    background-color: #F5F4FA;
}
.work .title-work {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.team .title-team {
    
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
}

.team .team-name,
.team .team-work {

        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
}

.team .hteam-name {
    
        font-weight: 500;
}

.team .team-work {

    font-weight: 400;
}

/* portfolio */

.portfolio-nav .button-nav {
    color: var(--primary-text-color);
    background-color: #F5F4FA;

    font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        cursor: pointer;
}



.portfolio-nav .button-nav:hover,
.portfolio-nav .button-nav:active {
    color: var(--secondary-color);
    background-color: var(--accent-color);
}

.portfolio-example h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-example p {
    color: #757575;

    font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
}

/* футер */
.footer {
    background-color: #2F303A;
}

.address {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
}

.address .map {
    color: var(--secondary-color);
    font-style: normal;
}

.address .link {
    color:  rgba(255, 255, 255, 0.6);

    text-decoration: none;
    font-style: normal;
} 